

body{
    margin: 0;
}
.content{
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
   
    flex-wrap:wrap;
    
  
}
.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding:20px 10%;

}
.logo a{
    font-size:24px;
    color:#f9faf8;
    text-decoration: none;
}
.links{
    display:flex;
    gap:10px;
}
.links a{
    text-decoration: none;
    color:#f9faf8;
}
.main{
    flex:1;
}
.first {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding:5% 10%;
    gap:20px;
    
}
.section-1a{
    display:flex;
    flex-direction: column;
    
}
.section-1a>button{
    background-color:#3882f6;
    color:white;
}
.hero{
    font-size:48px;
    font-weight:bold;
    color:#f9faf8;
    height:20%;
}
.hero.secondary{
    font-size:18px;
    color:#e5e7eb;
}
.signup-button-a{
    width:100px;
    height:40px;
    border-radius: 5px;
    border:#3882f6;
    background-color:#3882f6;
    color:white;
}
.section-1b>img{
    height:300px;
    width:700px;
}
.second{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.section-2a .info{
    font-size:36px;
    font-weight:bold;
    color:#1f2937;
}
.section-2b{
    display:flex;
    justify-content: space-between;
    gap:30px;
    flex-wrap: wrap;
}
.img1, .img2, .img3, .img4{
    display:flex;
    width:150px;
    flex-direction:column;
    align-items:center;
    margin-bottom:10%;
    
}
.img1-1, .img2-1, .img3-1, .img4-1{
    width:150px;
    height:150px;
    border:5px solid skyblue;
    border-radius: 20px;}
.signup-button-b{
        width:100px;
        height:40px;
        border-radius: 5px;
        border: 2px solid white;
        background-color:#3882f6;
        color:white;
    }


.third{
    display:flex;
    justify-content: center;
    align-items: center;
    height:20%;
    padding:5% 25%;
    background-color:#E5e7eb;
}
.quote{
    font-size:36px;
    font-weight:bold;
    color:#1f2937;
    font-style:italic;
    
}
.fourth{
    margin:50px;
    padding:5%;
}
.fourth>.modal{
    background-color:#3882f6;
    padding:3% 20%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius:5px;
    color:white;
}
.section-4a{
    width:1000px;
    
}
.signup-button-b{
    width:100px;
    height:40px;
    border-radius: 5px;
    border: 2px solid white;
    background-color:#3882f6;
    color:white;
}
.footer{
   text-align: center;
   background-color: #1F2937;
   color:#E5e7eb;
   width:100%;
}